body {
    background-color: #efefef;
    background-size: cover;
    background-position: center;
}

#content {
    padding: 30% 0;
    text-align: center;
}

#disp-info {
    font-size: 60px;
    height: 70px;
}