body {
    background-color: #efefef;
    background-size: cover;
    background-position: center;
}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#get-location-btn {
    text-align: center;
    vertical-align: middle;
    padding: 6px 20px;
    /* line-height: 40px; */
    font-size: 30px;
    word-wrap: normal;
}

#disp-info {
    font-size: 70px;
    text-shadow: 0px 1px white, 1px 0px white, -1px 0px white, 0px -1px white;
}

